.net-content {

  background-image: url('../../assets/purple-background2.svg');
  display: flex;
  width: 3416px;
  height: 1276px;
  margin-top: -10px;
  margin-bottom: 120px;

    .line1 {
      padding: 15px;
      width: 160px;
      height: 147px;
    }

    .line2 {
      padding: 15px;
      width: 160px;
      height: 147px;
    }

    .line3 {
      padding: 15px;
      width: 160px;
      height: 147px;
    }
    
}
