.who-content {

  background-image: url('../../assets/purple-background.svg');
  display: flex;
  width: 1910px;
  height: 799px;
  margin-top: -10px;
  margin-bottom: 120px;

  .doctors {
    width: 484px;
    height: 300px;
  }

}
